<h1>Search for Movie</h1>


<form method="GET" action="/request"> 

<input type="text" placeholder="Search item" name="search" >
<input type="number" placeholder="ENTER YEAAR" name="year">
<input type="submit" >


</form>